<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4909b">  <td>22/03/02 22:20:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.testTwo()[pri:0, instance:tests.Tests@42dafa95]">testTwo</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="b4909b">  <td>22/03/02 22:19:56</td>   <td>-4307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tests.testOne()[pri:0, instance:tests.Tests@42dafa95]">testOne</td> 
  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>22/03/02 22:19:43</td>   <td>-17982</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.init()[pri:0, instance:tests.Tests@42dafa95]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>22/03/02 22:20:03</td>   <td>2770</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.destroy()[pri:0, instance:tests.Tests@42dafa95]">&lt;&lt;destroy</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540642172</td>   <td></td> </tr>
</table>
